<!--
/**
 *
 * @title Partial for Comment Block Titles
 *
 */
-->


{{#if data.tags}}
  {{#each data.tags as |tagObj| }}
    {{#isEqual tagObj.tag 'title'}}
      <h3 class="sugar-h3">{{ tagObj.value }}</h3>
    {{/isEqual}}
    {{#isEqual tagObj.tag 'description'}}
      <p class="sugar-file-desc sugar-p">{{ tagObj.value }}</p>
    {{/isEqual}}
  {{/each}}
{{/if}}