<!--
/**
 *
 * @title Partial for nav of all components
 *
 */
-->

<ul id="sugar-nav">

  {{~#each this as |section| }}

    <li>
      <a class="sugar-nav-item" href="#{{toID section.title}}">{{ section.title }}</a>
      <ul>

        {{~#each section.files as |file| }}

          {{~#each file.data as |data| }}

          <li>
            <a class="sugar-nav-subitem" href="#{{toID file.path @index }}">

            {{~#each data.tags as |tagObj| }}

              {{~#isEqual tagObj.tag 'title' }}

                {{ tagObj.value }}

              {{~/isEqual}}

            {{~/each}}

            </a>
          </li>

          {{~/each}}

        {{~/each}}

      </ul>
    </li>

  {{~/each}}

</ul>
