/**
 * A block of info that persists for ~2 seconds on the page
 *
 * @module Flashblock
 * @category Feedback
 * @example
 * <div class="flash-block flash-block-success">
 *      <div class="flash-block-content">
 *          Success Message
 *      </div>
 * </div>
 * @modifier .sticky JS added class that disables the block disappearing
 * @modifier :focus Special animated hover focus state
 * @modifier :hover Special animated hover focus state
 *
 */
 
.flash-block {
    border:1px solid grey;
    margin:20px;
}
.flash-block-content {
    padding:20px;
}
.flash-block-success {
    background-color:green;
    color:white;
}

/**
 * A tooltip appearing in small viewport only
 *
 * @module Tooltip
 * @example
 *  <div class="flash-block flash-block-success">
 *      <div class="tooltip">
 *          <span class="tooltip-content">This is a tooltip</span>
 *      </div>
 *  </div>
 * @modifier .active enabled class on .tooltip
 *
 */

.tooltip {
    position:relative;
}
.tooltip-content {
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.5);
    color:blue;
}