.feature {
    width: 100%;
    overflow: hidden;
}
.feature-item {
    counter-increment: section;
    text-align: left;
    padding-left: 3rem;
    & h3 {
        margin-top: 0;
    }
    &:before {
        content: counter(section);
        font-family: var(--font-mono);
        font-size: 36px;
        color: var(--bg-yellow);
        margin-left: -3rem;
        position: absolute;
    }
}