.feature {
    width: 100%;
    overflow: hidden;
}
.feature-item {
    float: left;
    display: inline-block;
    width: calc(50% - 30px);
    text-align: center;
    
    &:nth-child(odd) {
        padding-left: 0;
    }
    &:nth-child(even) {
        padding-right: 0;
    }
    img {
        margin: 0 auto;
    }
    p {
        text-align: left;
    }
}