.sugar-section-type {
    width: 100%;
}

.sugar-type-file .sugar-type-container {
    border: $border;
    overflow: hidden;
    margin-bottom: 1rem;
}

.sugar-type-example,
.sugar-type-code {
    padding: 1.25rem 1.0rem;
}

.sugar-type-example p {
    margin: 0;
}

.sugar-type-code {
    background-color: #f1f1f1;
    white-space: nowrap;
    overflow-x: scroll;

    .sugar-type-code-snippet {
        font-family: 'Courier';
        margin-bottom: 0;
    }
}
