.sugar-main {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 0;

    section {
        padding: 2rem;
        border-bottom: $border;
        box-sizing: border-box;
    }
}
.sugar-masthead {
    padding-top: 0;
    display: none;

    h1 {
        font-size: 2rem;
    }
}
.sugar-nav-open {
    .sugar-main {
        transform: none;
    }
    .sugar-nav-toggle {
        transform: none;
    }
}
.sugar-type-container {
    .sugar-var {
        width: 35%;
        float: left;
        border-right: $border;
    }
    .sugar-val {
        width: 65%;
    }
}