body {
    margin: 0;
    padding: 0;
}
.sugar-page-wrapper {
    position: relative;
    overflow: hidden;
}
.sugar-masthead {
    padding-top: 50px;
    padding-bottom: 25px;

    h1 {
        font-size: 2.5rem;
        font-family: 'Helvetica';
    }
    img {
        width: 65px;
        border-radius: 100%;
    }

}
.sugar-main {
    padding: 0 15px 2rem 60px;
    background: white;
    transition: 0.35s linear transform;
    position: relative;

    h2 {
        font-family: 'Helvetica';
        font-size: 2.25rem; //36px font-weight: bold;
        color: $blue;
        margin-bottom: 0.8rem;
        margin-top: 0.8rem;
        clear: both;
    }
    h2 a {
        text-decoration: none;
        color: $blue;
    }
    h3 {
        font-family: 'Helvetica';
        font-weight: lighter;
        font-size: 1.5rem; //24px color: #666666;
        margin-bottom: 0.7rem;
    }
    p {
        font-family: 'Helvetica';
    }
    .sugar-file-desc {
        font-family: 'Helvetica';
        font-size: 1rem; //16px color: #666;
    }
    pre {
        box-sizing: border-box;
        padding: 1.5rem 1rem;
        background-color: #f1f1f1;
        font-family: 'Courier';
        font-weight: lighter;
        color: #666;
        margin: 0;
        overflow-x: scroll;
    }
}
.sugar-nav-open {
    .sugar-main {
        transform: translateX(245px);
    }
    .sugar-nav-toggle {
        transform: translateX(245px);
    }
}
.sugar-component {
    margin-bottom: 60px;

    > div {
        clear: both;
    }

}
.sugar-file {
    font-family: 'Helvetica';
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    clear: both;

    .sugar-path {
        font-family: 'Courier';
        font-weight: lighter;
        color: #B98181;
        word-break: break-all;
    }

}
.sugar-type-desc {
    background: #f1f1f1;
    margin: 0;
    width: 100%;
    color: #666;

    &:before {
        content: 'description';
    }
}
.sugar-type-container {
    pre,
    .sugar-type-desc {
        width: 100%;
        border-top: $border;
        position: relative;
        padding: 1.6rem 1rem .8rem 1rem;
    }
    pre:before,
    .sugar-type-desc:before {
        position: absolute;
        top: 5px;
        left: 8px; @include font-cap();
        font-size: 11px;
        color: #999;
    }
}
.sugar-var {
    &:before {
        content: 'variable';
    }
}
.sugar-val {
    &:before {
        content: 'value';
    }
}
