/**
 *
 * Variables
 *
 */
$border: 1px solid #e4e4e4;
$blue: #029dd5;
$red: #fff1f1;


/**
 *
 * Mixins
 *
 */
@mixin font-cap {
    font-family: 'Helvetica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.3em;
}
@mixin font-bold-cap {
    font-family: 'Helvetica';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.14em;
}
.sugar-btn-accordion {
    font-size: 0;
    width: 40px;
    cursor: pointer;
    transition: 0.35s linear transform;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 25px;
        height: 1px;
        left: 7px;
        background-color: black;
        transition: 0.35s linear all;
    }

    &:after {
        top: 20px;
    }
    &:before {
        top: 30px;
    }
}
.sugar-accordion-small {
    height: 30px;

    &:before,
    &:after {
        width: 18px;
    }
    &:after {
        top: 22px;
    }
    &:before {
        top: 28px;
    }
}
.sugar-nav-open .sugar-btn-accordion {
    &:after {
        transform: translateY(5px);
        background-color: $blue;
    }
    &:before {
        transform: translateY(-5px);
        background-color: $blue;
    }
}
.sugar-color-open .sugar-accordion-small {
    &:after {
        transform: translateY(3px);
        background-color: $blue;
    }
    &:before {
        transform: translateY(-3px);
        background-color: $blue;
    }
}