<div class="color-swatches">
    {{#each this}}
        <div class="color-swatch">
            <div class="swatch" style="background-color:{{value}};">
                <span>{{value}}</span>
            </div>
            <h1>{{variable}}</h1>
            {{#if comment}}
            	<p>{{comment}}</p>
            {{/if}}
        </div>
    {{/each}}
</div>