/**
* @title Some content parsing
*/
:root {
    --var1: red;
    --var2:     white;
    --var3: blue; /* inline comment */
    --var4: black; /*no space inline comment*/
    --var5: gold; // inline comment
    --var6: purple; //no space inline comment
}