/**
* @title Some content parsing
*/
:root {
    --var1: red;
    --var2: white; /* inline comment */
    --var3: blue; // inline comment
    --var4:     black;
    --var5: gold; //no space inline comment
    --var6: purple; /*no space inline comment*/
}