/**
 *
 * @title Primary Colors
 * @description Client-branded color palette
 * @usage Found only in brand-specific UI elements
 *
 */
:root {
    --brand-red: #703030; /* Headlines */
    --brand-grey: #2F343B; /* Links */
    --accent-red: #C77966;
    --accent-grey: #7E827A;
}