<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{> head}}
</head>
<body>
  <p>HERRROW</p>
  <div class="sugar-page-wrapper">

    <div class="sugar-main">

      {{> section-custom}}
      {{> footer}}

    </div>
  </div>

<script src="sugarcoat/js/sugar-nav.js"></script>

</body>
</html>
