.sugar-section-color {
	width: 100%;

	.sugar-color-swatch {
		width: 100%;
		height: 93px;
	}
	.sugar-var-name {
		font-family: 'Helvetica';
		font-size: 1rem;
		color: #c4c4c4;
		margin-bottom: 0.5rem;
		margin-top: 1rem;
	}
	.sugar-var-code {
		height: 37px;
		font-family: 'Courier';
		font-weight: lighter;
		color: #999999;
		background-color: #f1f1f1;
		line-height: 37px;
		padding: 0 10px;
		margin-bottom: 1rem;
	}
	.sugar-color-code {
		font-family: 'Helvetica';
		font-size: 1rem;
		color: #999999;
		margin-bottom: 2.5rem;
	}
	.sugar-color-comment {
		display: none;
	}
}