.sugar-nav {
    
//    padding-left: 15%;

    ul,
    .sugar-masthead {
        width: 245px;
        float: right;
        
        ul {
            width: auto;
            float: none;
        }
    }
}
