.sugar-nav {
    background-color: #f1f1f1;
    padding: 2em;
    font-size: 14px;
    
    ul { 
        list-style: none;
        padding-left: 0;
        
        li {
            margin-bottom: 1.6em;
        }
        a {
            font-family: 'Helvetica';
            color: #666;
            text-transform: uppercase;
            font-weight: bold;
            text-decoration: none;
            letter-spacing: 0.14em;
            position: relative;
            transition: 0.2s ease color;
        }
        .active a {
            color: #029dd5;
        }
        .active ul a {
            color: #666;
        }
        li:not(.active) .active a {
            color: #666;
        }
        a:hover {
            color: #029dd5;
        }
        ul a:before {
            content: '';
            width: 10px;
            height: 10px;
            background-color: transparent;
            border-radius: 10px;
            position: absolute;
            left: -28px;
//            left: -17px; // for highlighting all sections
            top: 3px;
            transition: 0.5s ease-in background;
        }
        
        ul {
            padding-left: 2em;
        }
        ul a {
            font-family: 'Helvetica';
            font-weight: lighter;
            letter-spacing: 0;
            text-transform: none;
        }
        ul li {        
            margin-top: 1.4em;
            margin-bottom: 0;
        }
        .active .active a:before {
            background-color: #029dd5;
        }
//        .active li a:before {
//            background-color: transparent;
//        }
    }
}