.sugar-nav-toggle {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 150;

}
//.sugar-nav-open .sugar-nav-toggle {
//    &:after {
//        transform: translateY(5px);
//        background-color: $blue;
//    }
//    &:before {
//        transform: translateY(-5px);
//        background-color: $blue;
//    }
//}
.sugar-nav {
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 2rem;
    font-size: 14px;
    position: fixed;
    width: 245px;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate(0, 0); //make clickable

    .sugar-masthead {
        display: none;
    }
}
.sugar-nav ul {
    list-style: none;
    padding-left: 0;

    li {
        margin-bottom: 1.6rem;
    }
    a {
        font-family: 'Helvetica';
        color: #666;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 0.14rem;
        position: relative;
        transition: 0.2s ease color;
    }
    ul {
        padding-left: 2rem;
    }
    ul a {
        font-family: 'Helvetica';
        font-weight: lighter;
        letter-spacing: 0;
        text-transform: none;
    }
    ul li {
        margin-top: 1.4rem;
        margin-bottom: 0;
    }
}
.sugar-nav-item.active {
    color: $blue;
}
.sugar-nav-subitem:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    left: -28px;
    top: 2px;
    transition: 0.5s ease-in background;
}
.sugar-nav-subitem.active:before {
    background-color: $blue;
}
.sugar-nav-item:not( .active ) + ul .active:before {
    background-color: transparent;
}