/**
 * @title Button
 * @modifier .cta primary coloring
 * @state :hover transition animation on hover
 *
 * @example <a class="btn" href="#">a.btn</a>
 *
 * @example <button class="btn cta">button.btn.cta</button>
 *
 */
a.btn,
.btn,
button {
    @extend %font-label;
    text-decoration: none;
    border-radius: 3px;
    padding: var(--pad);
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: var(--bg-yellow-lt);
    font-size: 16px;
}

a.cta,
.cta,
button {

    background-color: var(--accent-grey);

    &:focus,
    &:active,
    &:hover {
        background-color: var(--brand-grey);
        color: white;
    }
}