/**
 * 
 * @title Colors
 *
 */
$brand-red: #703030;
$brand-grey: #2f343b;
$accent-red: #c77966;
$accent-blue: #7E827A;
$bg-yellow: #e3cda4;
$bg-yellow-lt: lighten( $bg-yellow, 10% );
$body-black: #333;
