/**
 * @title Font Families
 */
:root {
    --font-mono: 'Roboto Mono', 'Monospace';
    --font-body: 'Helvetica', Arial;
    --font-head: 'Arvo', Georgia;
}
/**
 * 
 * @title Font Style, Header
 * @description Header links
 *
 */
@mixin font-head {
    font-family: var(--font-head);
    color: var(--brand-red);
/*    font-size: 36px;*/
    font-weight: 700;
}

/**
 * 
 * @title Font Style, Sub header
 * @description Sub-section titles
 *
 */
@mixin font-subhead {
    font-family: var(--font-head);
    color: var(--accent-red);
    font-weight: 400;
}

/**
 * 
 * @title Font Style, Label
 * @description Use for small label styles
 *
 */
@mixin font-label {
    font-family: var(--font-mono);
    text-transform: uppercase;
    color: var(--accent-blue);
    letter-spacing: .1rem;
}

/**
 * 
 * @title Font Style, Monospace
 * @description Use for any code style declarations
 *
 */
@mixin font-code {
    font-family: var(--font-mono);
    font-weight: normal;
    background: var(--bg-yellow);
    border-radius: 3px;
    padding: 3px 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 1rem;
    vertical-align: top;
}

h1, h3 {
    @include font-head;
}
h2, h4 {
    @include font-subhead;
}
h5 {
    @include font-label;
}
p {
    line-height: 1.7rem;
}
code {
    @include font-code;
}
b {
    font-family: var(--font-head);
    font-weight: 700;
}
a,
a:visited {
    color: var(--accent-blue);
    
    &:hover,
    &:focus,
    &:active {
        color: var(--brand-red);
    }
}