/**
 * @title Font Families
 */
:root {
    --font-body: 'Helvetica', Arial;
    --font-head: 'Arvo', Georgia;
    --font-mono: 'Roboto Mono', 'Monospace'; /*For displaying labels and code*/
}

%font-head {
    font-family: var(--font-head);
    color: var(--brand-red);
    font-weight: 700;
}
/* Here's a single line comment */
%font-subhead {
    font-family: var(--font-head);
    color: var(--accent-red);
    font-weight: 400;
}

%font-label {
    font-family: var(--font-mono);
    color: var(--accent-grey);
}

%font-code {
    font-family: var(--font-mono);
    font-weight: normal;
    background: var(--accent-red);
    border-radius: 3px;
    padding: 3px 5px;
    display: inline-block;
    font-size: 12px;
    line-height: 1rem;
    vertical-align: top;
    color: white;
}

h1, h3 {
    @extend %font-head;
}
h2, h4 {
    @extend %font-subhead;
}
h5 {
    @extend %font-label;
}
p {
    line-height: 1.7rem;
}
code {
    @extend %font-code;
}
pre {
    text-align: left;
    background-color: var(--brand-red);
    color: white;
    padding: 5px;
    border-radius: 3px;
}
b {
    font-family: var(--font-head);
    font-weight: 700;
}
a,
a:visited {
    color: var(--accent-grey);

    &:hover,
    &:focus,
    &:active {
        color: var(--brand-red);
    }
}