/*
 * Color Swatches
 *
 */
.color-swatches .color-swatch { 
	width: 30%;
	margin-left: 3%;
	margin-bottom: 2%;
	display: inline-block;
}
.color-swatches .color-swatch .swatch { 
	padding: 1em;
}
.color-swatches .color-swatch .swatch span {
	display: block;
	color: #ffffff;
}
.color-swatches .color-swatch .swatch span:first-child {
	color: #000000;
}