.sugar-nav-open {
    .sugar-main {
        transform: none;
    }
    .sugar-nav-toggle {
        transform: none;
    }
}
.sugar-main {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 2em 0 0 0;
    
    section {
        padding: 2em;
        border-bottom: 1px solid #e4e4e4;
    }
    .sugar-masthead {
        display: none;
    }
    .sugar-type-container {
        pre {
        }
        .sugar-var {
            width: 35%;
            float: left;
            border-right: 1px solid #e4e4e4;
        }
        .sugar-val {
            width: 65%;
        }
    }
}