
.sugar-page-wrapper {
    position: relative;
    overflow: hidden;
}
.sugar-masthead {
    padding-bottom: 65px;
    padding-top: 100px;
    
    h1 {
        font-size: 2.5em;
    }
    img {
        width: 65px;
        border-radius: 100%;
    }
}
.sugar-nav-open {
    .sugar-main {
        transform: translateX(245px);
    }
    .sugar-nav-toggle {
        transform: translateX(245px);
    }
}
.sugar-main {
    padding: 0 5% 2em 5%;
    background: white;
    transition: 0.35s linear transform;
    position: relative;

	h2 {
		font-family: 'Helvetica';
		font-size: 2.25rem; //36px
		font-weight: bold;
		color: #029dd5;
        margin-bottom: 0.8em;
	}
	h3 {
		font-family: 'Helvetica';
		font-weight: lighter;
		font-size: 1.5rem; //24px
		color: #666666;
        margin-bottom: 0.7em;
	}
    .sugar-component {
        margin-bottom: 60px;
    }
	.sugar-file-desc {
		font-family: 'Helvetica';
		font-size: 1rem; //16px
		color: #c4c4c4;
	}
	.sugar-file {
		font-family: 'Helvetica Neue';
		font-size: 0.8rem; //16px
		color: #666666;
		font-weight: bold;
        clear: both;

		.sugar-path {
			font-family: 'Courier';
			font-weight: lighter;
			color: #0195c9;
			word-break: break-all;
		}
	}
	pre {
		padding: 1.5rem 1rem;
		background-color: #f1f1f1;
		font-family: 'Courier';
		font-weight: lighter;
		color: #999999;
		margin-bottom: 0;
		overflow-x: scroll;
	}
    .sugar-type-container {
        pre,
        .sugar-type-desc {
            width: 100%;
            border-top: 1px solid #e4e4e4;
            position: relative;
            padding: 1.6rem 1rem .8rem 1rem;
        }
        pre:before,
        .sugar-type-desc:before {
            position: absolute;
            top: 5px;
            left: 8px;
            font-weight: lighter;
            font-family: 'Helvetica';
            text-transform: uppercase;
            letter-spacing: 0.3em;
            font-size: 11px;
            color: #C7C7C7;
        }
    }
    .sugar-var {
        &:before {
            content: 'variable';
        }
    }
    .sugar-val {
        &:before {
            content: 'value';
        }
    }
    .sugar-type-desc {
        background: #f1f1f1;
        margin: 0;
        width: 100%;
        color: #999999;
        
        &:before {
            content: 'description';
        }
    }
//    code {
//        background-color: #f1f1f1;
//            height: 100%;
//            padding: 0 0.7rem;
//            font-family: 'Courier';
//            display: block;
//            text-transform: none;
//            font-weight: normal;
//    }
}