body {
    transition: 1s ease-in transform;
}
.sugar-masthead {
    margin-bottom: 65px;
    margin-top: 40px;
    
    h1 {
        font-size: 2.5em;
//        float: right;
    }
    img {
        width: 65px;
        border-radius: 100%;
    }
}
.sugar-main {
    margin: 2em 5%;

	h2 {
		font-family: 'Helvetica';
		font-size: 2.25rem; //36px
		font-weight: bold;
		color: #029dd5;
        margin-bottom: 0.8em;
	}
	h3 {
		font-family: 'Helvetica';
		font-weight: lighter;
		font-size: 1.5rem; //24px
		color: #666666;
        margin-bottom: 0.7em;
	}
    .sugar-component {
        margin-bottom: 60px;
    }
	.sugar-file-desc {
		font-family: 'Helvetica';
		font-size: 1rem; //16px
		color: #c4c4c4;
	}
	.sugar-file {
		font-family: 'Helvetica Neue';
		font-size: 0.8rem; //16px
		color: #666666;
		font-weight: bold;
        clear: both;

		.sugar-path {
			font-family: 'Courier';
			font-weight: lighter;
			color: #0195c9;
			word-break: break-all;
		}
	}
	pre {
		padding: 1.5rem 1rem;
		background-color: #f1f1f1;
		font-family: 'Courier';
		font-weight: lighter;
		color: #999999;
		margin-bottom: 0;
		overflow-x: scroll;
	}
	code {
		background-color: #f1f1f1;
			height: 100%;
			padding: 0 0.7rem;
			font-family: 'Courier';
			display: block;
			text-transform: none;
			font-weight: normal;
	}
}