/**
 * A button
 * 
 * @module Button
 * @category UIElement
 * @modifier .cta primary coloring
 * @modifier :hover transition animation on hover
 * @example
 * <a class="btn">a.btn</a>
 * <button class="btn">button.btn</button>
 * <button class="btn cta">button.btn.cta</button>
 * <div class="btn-set">
 *  <button class="btn cta">button.btn.cta</button>
 *  <button class="btn">button.btn</button>
 * 
 */ 

.btn {
    border: 1px solid grey;
    border-radius: 5px;
}
.cta {
    border-color: green;
}
.btn-set {
    overflow:hidden;
}
.btn-set .btn {
    width:50%;
    float:left;
}