/**
 * 
    title: Flash Block
    description: A block of info that persists for ~2 seconds on the page
    modifiers:
      .sticky: JS added class that disables the block disappearing
    category:
      - flashblock
    html:
        <div class="flash-block flash-block-success">
          <div class="flash-block-content">
            Success Message
          </div>
        </div>
 *
 */
.flash-block {
    border:1px solid grey;
    margin:20px;
}
.flash-block-content {
    padding:20px;
}
.flash-block-success {
    background-color:green;
    color:white;
}

/**
 * 
    title: Tooltip
    description: Shows up in small viewport only
    modifiers: 
      .active: JS enabled class on .tooltip
    tags:
      - feedback
      - uikit
    html:
        <div class="tooltip">
          <span class="tooltip-content">This is a tooltip</span>
        </div>
 *
 */
.tooltip {
    position:relative;
}
.tooltip-content {
    position:absolute;
    top:0;
    left:0;
    background-color:rgba(255,255,255,0.5);
    color:blue;
}