.sugar-tag-details {
	width: 100%;

	dt { 
		font-family: 'Helvetica';
		font-weight: bold;
		font-size: 1rem;
		line-height: 30px;
		text-transform: capitalize;
	}
	dd {
		.sugar-tag-description {
			font-family: 'Helvetica';
			font-size: 1rem; //16px
			color: #c4c4c4;
			word-break: break-all;
		}
	}
}