/**
 *
 * Variables
 *
 */
/**
 *
 * Mixins
 *
 */
/* line 30, ../styles/base/helpers.scss */
.sugar-btn-accordion {
  font-size: 0;
  width: 40px;
  cursor: pointer;
  transition: 0.35s linear transform;
}
/* line 36, ../styles/base/helpers.scss */
.sugar-btn-accordion:before, .sugar-btn-accordion:after {
  content: '';
  position: absolute;
  width: 25px;
  height: 1px;
  left: 7px;
  background-color: black;
  transition: 0.35s linear all;
}
/* line 47, ../styles/base/helpers.scss */
.sugar-btn-accordion:after {
  top: 20px;
}
/* line 50, ../styles/base/helpers.scss */
.sugar-btn-accordion:before {
  top: 30px;
}

/* line 54, ../styles/base/helpers.scss */
.sugar-accordion-small {
  height: 30px;
}
/* line 57, ../styles/base/helpers.scss */
.sugar-accordion-small:before, .sugar-accordion-small:after {
  width: 18px;
}
/* line 61, ../styles/base/helpers.scss */
.sugar-accordion-small:after {
  top: 22px;
}
/* line 64, ../styles/base/helpers.scss */
.sugar-accordion-small:before {
  top: 28px;
}

/* line 69, ../styles/base/helpers.scss */
.sugar-nav-open .sugar-btn-accordion:after {
  transform: translateY(5px);
  background-color: #029dd5;
}
/* line 73, ../styles/base/helpers.scss */
.sugar-nav-open .sugar-btn-accordion:before {
  transform: translateY(-5px);
  background-color: #029dd5;
}

/* line 79, ../styles/base/helpers.scss */
.sugar-color-open .sugar-accordion-small:after {
  transform: translateY(3px);
  background-color: #029dd5;
}
/* line 83, ../styles/base/helpers.scss */
.sugar-color-open .sugar-accordion-small:before {
  transform: translateY(-3px);
  background-color: #029dd5;
}

/* line 1, ../styles/base/defaults.scss */
body {
  margin: 0;
  padding: 0;
}

/* line 5, ../styles/base/defaults.scss */
.sugar-page-wrapper {
  position: relative;
  overflow: hidden;
}

/* line 9, ../styles/base/defaults.scss */
.sugar-masthead {
  padding-top: 50px;
  padding-bottom: 25px;
}
/* line 13, ../styles/base/defaults.scss */
.sugar-masthead h1 {
  font-size: 2.5rem;
  font-family: 'Helvetica';
}
/* line 17, ../styles/base/defaults.scss */
.sugar-masthead img {
  width: 65px;
  border-radius: 100%;
}

/* line 23, ../styles/base/defaults.scss */
.sugar-main {
  padding: 0 15px 2rem 60px;
  background: white;
  transition: 0.35s linear transform;
  position: relative;
}
/* line 29, ../styles/base/defaults.scss */
.sugar-main h2 {
  font-family: 'Helvetica';
  font-size: 2.25rem;
  color: #029dd5;
  margin-bottom: 0.8rem;
  margin-top: 0.8rem;
  clear: both;
}
/* line 37, ../styles/base/defaults.scss */
.sugar-main h2 a {
  text-decoration: none;
  color: #029dd5;
}
/* line 41, ../styles/base/defaults.scss */
.sugar-main h3 {
  font-family: 'Helvetica';
  font-weight: lighter;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
/* line 47, ../styles/base/defaults.scss */
.sugar-main p {
  font-family: 'Helvetica';
}
/* line 50, ../styles/base/defaults.scss */
.sugar-main .sugar-file-desc {
  font-family: 'Helvetica';
  font-size: 1rem;
}
/* line 54, ../styles/base/defaults.scss */
.sugar-main pre {
  box-sizing: border-box;
  padding: 1.5rem 1rem;
  background-color: #f1f1f1;
  font-family: 'Courier';
  font-weight: lighter;
  color: #666;
  margin: 0;
  overflow-x: scroll;
}

/* line 66, ../styles/base/defaults.scss */
.sugar-nav-open .sugar-main {
  transform: translateX(245px);
}
/* line 69, ../styles/base/defaults.scss */
.sugar-nav-open .sugar-nav-toggle {
  transform: translateX(245px);
}

/* line 73, ../styles/base/defaults.scss */
.sugar-component {
  margin-bottom: 60px;
}
/* line 76, ../styles/base/defaults.scss */
.sugar-component > div {
  clear: both;
}

/* line 81, ../styles/base/defaults.scss */
.sugar-file {
  font-family: 'Helvetica';
  font-size: 14px;
  color: #666666;
  font-weight: bold;
  clear: both;
}
/* line 88, ../styles/base/defaults.scss */
.sugar-file .sugar-path {
  font-family: 'Courier';
  font-weight: lighter;
  color: #B98181;
  word-break: break-all;
}

/* line 96, ../styles/base/defaults.scss */
.sugar-type-desc {
  background: #f1f1f1;
  margin: 0;
  width: 100%;
  color: #666;
}
/* line 102, ../styles/base/defaults.scss */
.sugar-type-desc:before {
  content: 'description';
}

/* line 107, ../styles/base/defaults.scss */
.sugar-type-container pre,
.sugar-type-container .sugar-type-desc {
  width: 100%;
  border-top: 1px solid #e4e4e4;
  position: relative;
  padding: 1.6rem 1rem .8rem 1rem;
}
/* line 114, ../styles/base/defaults.scss */
.sugar-type-container pre:before,
.sugar-type-container .sugar-type-desc:before {
  position: absolute;
  top: 5px;
  left: 8px;
  font-family: 'Helvetica';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  font-size: 11px;
  color: #999;
}

/* line 124, ../styles/base/defaults.scss */
.sugar-var:before {
  content: 'variable';
}

/* line 129, ../styles/base/defaults.scss */
.sugar-val:before {
  content: 'value';
}

@media (min-width: 768px) {
  /* line 1, ../styles/base/768.scss */
  .sugar-main {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 0;
  }
  /* line 6, ../styles/base/768.scss */
  .sugar-main section {
    padding: 2rem;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
  }

  /* line 12, ../styles/base/768.scss */
  .sugar-masthead {
    padding-top: 0;
    display: none;
  }
  /* line 16, ../styles/base/768.scss */
  .sugar-masthead h1 {
    font-size: 2rem;
  }

  /* line 21, ../styles/base/768.scss */
  .sugar-nav-open .sugar-main {
    transform: none;
  }
  /* line 24, ../styles/base/768.scss */
  .sugar-nav-open .sugar-nav-toggle {
    transform: none;
  }

  /* line 29, ../styles/base/768.scss */
  .sugar-type-container .sugar-var {
    width: 35%;
    float: left;
    border-right: 1px solid #e4e4e4;
  }
  /* line 34, ../styles/base/768.scss */
  .sugar-type-container .sugar-val {
    width: 65%;
  }
}
@media (min-width: 1200px) {
  /* line 2, ../styles/base/1200.scss */
  .sugar-main .sugar-section-wrapper {
    max-width: 835px;
  }
}
/* line 1, ../styles/nav/defaults.scss */
.sugar-nav-toggle {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 150;
}

/* line 20, ../styles/nav/defaults.scss */
.sugar-nav {
  box-sizing: border-box;
  background-color: #f1f1f1;
  padding: 2rem;
  font-size: 14px;
  position: fixed;
  width: 245px;
  height: 100%;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translate(0, 0);
}
/* line 34, ../styles/nav/defaults.scss */
.sugar-nav .sugar-masthead {
  display: none;
}

/* line 38, ../styles/nav/defaults.scss */
.sugar-nav ul {
  list-style: none;
  padding-left: 0;
}
/* line 42, ../styles/nav/defaults.scss */
.sugar-nav ul li {
  margin-bottom: 1.6rem;
}
/* line 45, ../styles/nav/defaults.scss */
.sugar-nav ul a {
  font-family: 'Helvetica';
  color: #666;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 0.14rem;
  position: relative;
  transition: 0.2s ease color;
}
/* line 55, ../styles/nav/defaults.scss */
.sugar-nav ul ul {
  padding-left: 2rem;
}
/* line 58, ../styles/nav/defaults.scss */
.sugar-nav ul ul a {
  font-family: 'Helvetica';
  font-weight: lighter;
  letter-spacing: 0;
  text-transform: none;
}
/* line 64, ../styles/nav/defaults.scss */
.sugar-nav ul ul li {
  margin-top: 1.4rem;
  margin-bottom: 0;
}

/* line 69, ../styles/nav/defaults.scss */
.sugar-nav-item.active {
  color: #029dd5;
}

/* line 72, ../styles/nav/defaults.scss */
.sugar-nav-subitem:before {
  content: '';
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 10px;
  position: absolute;
  left: -28px;
  top: 2px;
  transition: 0.5s ease-in background;
}

/* line 83, ../styles/nav/defaults.scss */
.sugar-nav-subitem.active:before {
  background-color: #029dd5;
}

/* line 86, ../styles/nav/defaults.scss */
.sugar-nav-item:not(.active) + ul .active:before {
  background-color: transparent;
}

@media (min-width: 768px) {
  /*
   * 768.scss
   */
  /* line 4, ../styles/nav/768.scss */
  .sugar-nav-toggle {
    display: none;
  }

  /* line 7, ../styles/nav/768.scss */
  .sugar-nav {
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }
  /* line 14, ../styles/nav/768.scss */
  .sugar-nav .sugar-masthead {
    display: block;
  }
}
@media (min-width: 1200px) {
  /* line 1, ../styles/nav/1200.scss */
  .sugar-nav ul,
  .sugar-nav .sugar-masthead {
    width: 245px;
    float: right;
  }
  /* line 6, ../styles/nav/1200.scss */
  .sugar-nav ul ul,
  .sugar-nav .sugar-masthead ul {
    width: auto;
    float: none;
  }
}
/* line 1, ../styles/preview/defaults.scss */
.sugar-preview-block {
  width: 100%;
}
/* line 4, ../styles/preview/defaults.scss */
.sugar-preview-block .sugar-example-text {
  color: #999;
  margin-bottom: 0.5rem;
  font-family: 'Helvetica';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  font-size: 11px;
}

/* line 10, ../styles/preview/defaults.scss */
.sugar-preview {
  border: 1px solid #e4e4e4;
  margin-bottom: 1rem;
}
/* line 14, ../styles/preview/defaults.scss */
.sugar-preview .sugar-example,
.sugar-preview .sugar-example-code {
  padding: 1.25rem 1.0rem;
  overflow: hidden;
}

/* line 1, ../styles/tag-details/defaults.scss */
.sugar-tag-details {
  width: 100%;
}
/* line 4, ../styles/tag-details/defaults.scss */
.sugar-tag-details dt {
  font-family: 'Helvetica';
  font-size: 14px;
  font-weight: bold;
  color: #666;
  text-transform: capitalize;
  line-height: 30px;
  margin-bottom: 10px;
}
/* line 13, ../styles/tag-details/defaults.scss */
.sugar-tag-details code {
  font-weight: normal;
  background-color: #eee;
  padding: 5px;
  text-transform: none;
  border-radius: 3px;
  letter-spacing: 0;
  color: #666;
  font-size: 14px;
}
/* line 23, ../styles/tag-details/defaults.scss */
.sugar-tag-details dd {
  margin-bottom: 1rem;
  margin-left: 1rem;
}
/* line 27, ../styles/tag-details/defaults.scss */
.sugar-tag-details .sugar-tag-description {
  font-family: 'Helvetica';
  font-size: 1rem;
  color: #666;
  word-break: break-all;
}

/* line 1, ../styles/section-default/defaults.scss */
.sugar-section-default {
  width: 100%;
}

/* line 1, ../styles/section-color/defaults.scss */
.sugar-colors {
  border-bottom: 1px solid #eee;
  font-family: 'Helvetica';
}

/* line 5, ../styles/section-color/defaults.scss */
.sugar-color {
  overflow: hidden;
  border-top: 1px solid #eee;
  position: relative;
}

/* line 10, ../styles/section-color/defaults.scss */
.sugar-color-commented {
  margin-bottom: -38px;
  padding-bottom: 10px;
  transition: 0.35s linear margin;
}
/* line 15, ../styles/section-color/defaults.scss */
.sugar-color-commented .sugar-btn-accordion {
  top: -5px;
  right: 0px;
  position: absolute;
}

/* line 21, ../styles/section-color/defaults.scss */
.sugar-color-open.sugar-color-commented {
  margin-bottom: 0px;
}

/* line 24, ../styles/section-color/defaults.scss */
.sugar-color-swatch {
  width: 70px;
  height: 38px;
  float: left;
}

/* line 29, ../styles/section-color/defaults.scss */
.sugar-color-var {
  font-family: 'Helvetica';
  font-weight: lighter;
  width: calc(50% - 55px);
  float: left;
  padding: 10px;
  background: white;
}

/* line 37, ../styles/section-color/defaults.scss */
.sugar-color-val {
  width: calc(50% - 55px);
  float: left;
  padding: 8px;
  font-family: 'Courier';
  font-size: 14px;
  background: white;
}

/* line 45, ../styles/section-color/defaults.scss */
.sugar-color-val:before {
  content: 'VALUE';
  font-family: 'Helvetica';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  background: #eee;
  padding: 5px;
  font-size: 10px;
  display: inline-block;
}

/* line 53, ../styles/section-color/defaults.scss */
.sugar-color-comment {
  width: 100%;
  float: left;
  padding-left: 80px;
  padding-top: 10px;
}

@media (min-width: 768px) {
  /* line 1, ../styles/section-color/768.scss */
  .sugar-color-commented {
    padding: 0;
    margin: 0;
    transition: none;
  }
  /* line 6, ../styles/section-color/768.scss */
  .sugar-color-commented .sugar-btn-accordion {
    display: none;
  }

  /* line 10, ../styles/section-color/768.scss */
  .sugar-color-open.sugar-color-commented {
    margin-bottom: 0px;
  }

  /* line 13, ../styles/section-color/768.scss */
  .sugar-color-val,
  .sugar-color-var {
    width: calc(33% - 40px);
  }

  /* line 17, ../styles/section-color/768.scss */
  .sugar-color-comment {
    width: calc(33% - 40px);
    padding: 8px;
  }
}
/* line 1, ../styles/section-typography/defaults.scss */
.sugar-section-type {
  width: 100%;
}

/* line 5, ../styles/section-typography/defaults.scss */
.sugar-type-file .sugar-type-container {
  border: 1px solid #e4e4e4;
  overflow: hidden;
  margin-bottom: 1rem;
}

/* line 11, ../styles/section-typography/defaults.scss */
.sugar-type-example,
.sugar-type-code {
  padding: 1.25rem 1.0rem;
}

/* line 16, ../styles/section-typography/defaults.scss */
.sugar-type-example p {
  margin: 0;
}

/* line 20, ../styles/section-typography/defaults.scss */
.sugar-type-code {
  background-color: #f1f1f1;
  white-space: nowrap;
  overflow-x: scroll;
}
/* line 25, ../styles/section-typography/defaults.scss */
.sugar-type-code .sugar-type-code-snippet {
  font-family: 'Courier';
  margin-bottom: 0;
}

/* line 1, ../styles/section-variable/defaults.scss */
.sugar-section-variable {
  width: 100%;
}
/* line 4, ../styles/section-variable/defaults.scss */
.sugar-section-variable .sugar-table-container {
  overflow-x: scroll;
}

/* line 8, ../styles/section-variable/defaults.scss */
.sugar-var-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  background: #f1f1f1;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  margin-bottom: 1rem;
}
/* line 17, ../styles/section-variable/defaults.scss */
.sugar-var-table thead {
  border: 1px solid #e4e4e4;
}
/* line 21, ../styles/section-variable/defaults.scss */
.sugar-var-table th {
  font-family: 'Helvetica';
  font-weight: 300;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.3em;
  font-size: 11px;
  color: #999;
  padding: .5rem 1rem;
  background-color: white;
  text-align: left;
}
/* line 29, ../styles/section-variable/defaults.scss */
.sugar-var-table tr {
  border-bottom: 1px solid #e4e4e4;
  background-color: #f1f1f1;
}
/* line 33, ../styles/section-variable/defaults.scss */
.sugar-var-table td {
  padding: 1rem;
}
/* line 36, ../styles/section-variable/defaults.scss */
.sugar-var-table pre {
  padding: 0;
  overflow-x: auto;
}
/* line 40, ../styles/section-variable/defaults.scss */
.sugar-var-table p {
  font-family: 'Helvetica';
  margin: 0;
  color: #999999;
}

/*# sourceMappingURL=sugarcoat.css.map */
