/**
 *
 * Variables
 *
 */
/**
 *
 * Mixins
 *
 */
.sugar-btn-accordion {
    font-size: 0;
    width: 40px;
    cursor: pointer;
    transition: 0.35s linear transform;
}
.sugar-btn-accordion:before,
.sugar-btn-accordion:after {
    content: '';
    position: absolute;
    width: 25px;
    height: 1px;
    left: 7px;
    background-color: black;
    transition: 0.35s linear all;
}
.sugar-btn-accordion:after {
    top: 20px;
}
.sugar-btn-accordion:before {
    top: 30px;
}
.sugar-accordion-small {
    height: 30px;
}
.sugar-accordion-small:before,
.sugar-accordion-small:after {
    width: 18px;
}
.sugar-accordion-small:after {
    top: 22px;
}
.sugar-accordion-small:before {
    top: 28px;
}
.sugar-nav-open .sugar-btn-accordion:after {
    transform: translateY(5px);
    background-color: #029dd5;
}
.sugar-nav-open .sugar-btn-accordion:before {
    transform: translateY(-5px);
    background-color: #029dd5;
}
.sugar-color-open .sugar-accordion-small:after {
    transform: translateY(3px);
    background-color: #029dd5;
}
.sugar-color-open .sugar-accordion-small:before {
    transform: translateY(-3px);
    background-color: #029dd5;
}
body {
    margin: 0;
    padding: 0;
}
.sugar-page-wrapper {
    position: relative;
    overflow: hidden;
}
.sugar-masthead {
    padding-top: 50px;
    padding-bottom: 25px;
}
.sugar-masthead h1 {
    font-size: 2.5rem;
    font-family: 'Helvetica';
}
.sugar-masthead img {
    width: 65px;
    border-radius: 100%;
}
.sugar-main {
    padding: 0 15px 2rem 60px;
    background: white;
    transition: 0.35s linear transform;
    position: relative;
}
.sugar-main .sugar-h2 {
    font-family: 'Helvetica';
    font-size: 2.25rem; //36px font-weight: bold;
    color: #029dd5;
    margin-bottom: 0.8rem;
    margin-top: 0.8rem;
    clear: both;
}
.sugar-main .sugar-h2 a {
    text-decoration: none;
    color: #029dd5;
}
.sugar-main .sugar-h3 {
    font-family: 'Helvetica';
    font-weight: lighter;
    font-size: 1.5rem; //24px color: #666666;
    margin-bottom: 0.7rem;
}
.sugar-main .sugar-p {
    font-family: 'Helvetica';
}
.sugar-main .sugar-file-desc {
    font-family: 'Helvetica';
    font-size: 1rem; //16px color: #666;
}
.sugar-main .sugar-pre {
    box-sizing: border-box;
    background-color: #f1f1f1;
    font-family: 'Courier';
    font-weight: lighter;
    color: #666;
    margin: 0;
    overflow-x: auto;
}
.sugar-nav-open .sugar-main {
    transform: translateX(245px);
}
.sugar-nav-open .sugar-nav-toggle {
    transform: translateX(245px);
}
.sugar-component {
    margin-bottom: 60px;
}
.sugar-component > div {
    clear: both;
}
.sugar-file {
    font-family: 'Helvetica';
    font-size: 0.875rem;
    color: #666666;
    font-weight: bold;
    clear: both;
}
.sugar-file .sugar-path {
    font-family: 'Courier';
    font-weight: lighter;
    color: #B98181;
    word-break: break-all;
}
.sugar-type-desc {
    background: #f1f1f1;
    margin: 0;
    width: 100%;
    color: #666;
}
.sugar-type-desc:before {
    content: 'description';
}
.sugar-type-container pre,
.sugar-type-container .sugar-type-desc {
    width: 100%;
    border-top: 1px solid #e4e4e4;
    position: relative;
    padding: 1.6rem 1rem .8rem 1rem;
}
.sugar-type-container pre:before,
.sugar-type-container .sugar-type-desc:before {
    position: absolute;
    top: 5px;
    left: 8px;
    font-family: 'Helvetica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3em;
    font-size: 0.6875rem;
    color: #999;
}
.sugar-var:before {
    content: 'variable';
}
.sugar-val:before {
    content: 'value';
}
@media ( min-width: 768px ) {
.sugar-main {
    width: 75%;
    margin: 0 0 0 25%;
    padding: 0;
}
.sugar-main .sugar-section {
    padding: 2rem;
    border-bottom: 1px solid #e4e4e4;
    box-sizing: border-box;
}
.sugar-masthead {
    padding-top: 0;
    display: none;
}
.sugar-masthead h1 {
    font-size: 2rem;
}
.sugar-nav-open .sugar-main {
    transform: none;
}
.sugar-nav-open .sugar-nav-toggle {
    transform: none;
}
.sugar-type-container .sugar-var {
    width: 35%;
    float: left;
    border-right: 1px solid #e4e4e4;
}
.sugar-type-container .sugar-val {
    width: 65%;
}
}
@media ( min-width: 1200px ) {
.sugar-main .sugar-section-wrapper {
    max-width: 835px;

}
}
.sugar-nav-toggle {
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    background-color: #f1f1f1;
    z-index: 150;
}
.sugar-nav {
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 2rem;
    font-size: 0.875rem;
    position: fixed;
    width: 245px;
    height: 100%;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translate(0, 0);
}
.sugar-nav .sugar-masthead {
    display: none;
}
.sugar-nav ul {
    list-style: none;
    padding-left: 0;
}
.sugar-nav ul li {
    margin-bottom: 1.6rem;
}
.sugar-nav ul a {
    font-family: 'Helvetica';
    color: #666;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 0.14rem;
    position: relative;
    transition: 0.2s ease color;
}
.sugar-nav ul ul {
    padding-left: 2rem;
}
.sugar-nav ul ul a {
    font-family: 'Helvetica';
    font-weight: lighter;
    letter-spacing: 0;
    text-transform: none;
}
.sugar-nav ul ul li {
    margin-top: 1.4rem;
    margin-bottom: 0;
}
.sugar-nav-item.active {
    color: #029dd5;
}
.sugar-nav-subitem:before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 10px;
    position: absolute;
    left: -28px;
    top: 2px;
    transition: 0.5s ease-in background;
}
.sugar-nav-subitem.active:before {
    background-color: #029dd5;
}
.sugar-nav-item:not(.active) + ul .active:before {
    background-color: transparent;
}
@media ( min-width: 768px ) {
/*
 * 768.css
 */
.sugar-nav-toggle {
    display: none;
}
.sugar-nav {
    width: 25%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
.sugar-nav .sugar-masthead {
    display: block;
}
}
@media ( min-width: 1200px ) {
.sugar-nav ul,
.sugar-nav .sugar-masthead {
    width: 245px;
    float: right;
}
.sugar-nav ul ul,
.sugar-nav .sugar-masthead ul {
    width: auto;
    float: none;
}
}
.sugar-preview-block {
    width: 100%;
}
.sugar-preview-block .sugar-example-text {
    color: #999;
    margin-bottom: 0.5rem;
    font-family: 'Helvetica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3em;
    font-size: 0.6875rem;
}
.sugar-preview {
    border: 1px solid #e4e4e4;
    margin-bottom: 1rem;
}
.sugar-preview .sugar-example,
.sugar-preview .sugar-example-code {
    padding: 1.25rem 1.0rem;
    overflow: hidden;
}
.sugar-preview .sugar-pre {
    padding: 1.5rem 1rem;
}
.sugar-tag-details {
    width: 100%;
}
.sugar-tag-details dt {
    font-family: 'Helvetica';
    font-size: 0.875rem;
    font-weight: bold;
    color: #666;
    text-transform: capitalize;
    line-height: 1.875rem;
    margin-bottom: 10px;
}
.sugar-tag-details code {
    font-weight: normal;
    background-color: #eee;
    padding: 5px;
    text-transform: none;
    border-radius: 3px;
    letter-spacing: 0;
    color: #666;
    font-size: 0.875rem;
}
.sugar-tag-details dd {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.sugar-tag-details .sugar-tag-description {
    font-family: 'Helvetica';
    font-size: 1rem; //16px
    color: #666;
    word-break: break-all;
}
.sugar-section-default {
    width: 100%;
}
.sugar-colors {
    border-bottom: 1px solid #eee;
    font-family: 'Helvetica';
}
.sugar-color {
    overflow: hidden;
    border-top: 1px solid #eee;
    position: relative;
}
.sugar-color-commented {
    margin-bottom: -38px;
    padding-bottom: 10px;
    transition: 0.35s linear margin;
}
.sugar-color-commented .sugar-btn-accordion {
    top: -5px;
    right: 0px;
    position: absolute;
}
.sugar-color-open.sugar-color-commented {
    margin-bottom: 0px;
}
.sugar-color-swatch {
    width: 70px;
    height: 38px;
    float: left;
}
.sugar-color-var {
    font-family: 'Helvetica';
    font-weight: lighter;
    width: calc(50% - 55px);
    float: left;
    padding: 10px;
    background: white;
}
.sugar-color-val {
    width: calc(50% - 55px);
    float: left;
    padding: 8px;
    font-family: 'Courier';
    font-size: 0.875rem;
    background: white;
}
.sugar-color-val:before {
    content: 'VALUE';
    font-family: 'Helvetica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3em;
    background: #eee;
    padding: 5px;
    font-size: 0.625rem;
    display: inline-block;
}
.sugar-color-comment {
    width: 100%;
    float: left;
    padding-left: 80px;
    padding-top: 10px;
}
@media ( min-width: 768px ) {
.sugar-color-commented {
    padding: 0;
    margin: 0;
    transition: none;
}
.sugar-color-commented .sugar-btn-accordion {
    display: none;
}
.sugar-color-open.sugar-color-commented {
    margin-bottom: 0px;
}
.sugar-color-val,
.sugar-color-var {
    width: calc(33% - 40px);
}
.sugar-color-comment {
    width: calc(33% - 40px);
    padding: 8px;
}
}
.sugar-section-type {
    width: 100%;
}
.sugar-type-file .sugar-type-container {
    border: 1px solid #e4e4e4;
    overflow: hidden;
    margin-bottom: 2rem;
}
.sugar-type-example,
.sugar-type-code {
    padding: 1.25rem 1.0rem;
}
.sugar-type-example p {
    margin: 0;
}
.sugar-type-code {
    background-color: #f1f1f1;
    white-space: nowrap;
    overflow-x: scroll;
}
.sugar-type-code .sugar-type-code-snippet {
    font-family: 'Courier';
    margin-bottom: 0;
}
.sugar-section-variable {
    width: 100%;
}
.sugar-section-variable .sugar-table-container {
    overflow-x: auto;
}
.sugar-var-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #f1f1f1;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    margin-bottom: 1rem;
}
.sugar-var-table thead {
    border: 1px solid #e4e4e4;
}
.sugar-var-table th {
    font-family: 'Helvetica';
    font-weight: 300;
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: 0.3em;
    font-size: 0.6875rem;
    color: #999;
    padding: .5rem 1rem;
    background-color: white;
    text-align: left;
}
.sugar-var-table tr {
    border-bottom: 1px solid #e4e4e4;
    background-color: #f1f1f1;
}
.sugar-var-table td {
    padding: 0 1rem;
}
.sugar-var-table pre {
    padding: 0;
    overflow-x: auto;
    font-size: 1rem;
    color: #666;
}
.sugar-var-table p {
    font-family: 'Helvetica';
    margin: 0;
    color: #999;
}
