<!--
/**
 *
 * @title Some Component
 * @description This component was created to add a certain type of functionality to cart pages. It was requested by the client. 
 * @functionality Once added to a cart page, this module will sit there until clicked on. Once clicked on the module will open a modal that includes information needed by the user about the cart.
 * @dependencies /library/js/modules/some-component.js, /library/js/modules/other-component.js
 *
 */
-->
<ul class="some-component">
  <li>Item One</li>
  <!-- Inline Comment Test -->
  <li>Item Two</li>
</ul>

<!--
/**
 *
 * @title HELLO Component
 * @description HELLO
 *
 */
-->
<ul class="HELLO-component">
  <li>HELLO One</li>
  <li>HELLO Two</li>
</ul>