<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- Begin Styles -->
  <style type="text/css" media="screen">
    .desc dt {
      font-weight: bold;
    }
    .desc dd {
      margin-bottom: 15px;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="styles/furtive.css">
  <link rel="stylesheet" type="text/css" href="styles/pattern-lib.css">
  <link rel="stylesheet" type="text/css" href="styles/prism.css">

  <!-- End Styles -->
</head>
<body class="sugar-body">

{{> nav}}

{{#each this as |section|}}

  {{#isequal section.type 'variables'}}

    {{~#if section.template}}
      {{~#isequal section.template 'color'}}
        {{~> color}}
      {{~/isequal}}
      {{~#isequal section.template 'typography'}}
        {{~> typography}}
      {{~/isequal}}
      {{~#isequal section.template 'variable'}}
        {{~> variable}}
      {{~/isequal}}
    {{~else}}
      {{~> variable}}
    {{~/if}}

  {{/isequal}}

  {{#notequal section.type 'variables'}}
    {{~> default}}
  {{/notequal}}

{{/each}}

<!-- Begin Scripts -->
<!-- <script src="../../library/js/config/require-config.js"></script> -->
<script src="../../documentation/pattern-library/js/prism.js"></script>
<!-- End Scripts -->

</body>
</html>