<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{> head}}
</head>
<body>
      
  <div class="sugar-page-wrapper">
    <nav class="sugar-nav">
    
      {{> masthead this.settings }}
  
      {{> nav this.sections }}
      
    </nav>
  
    <a class="sugar-nav-toggle">Toggle</a>
    
    <div class="sugar-main">
      
      {{> masthead this.settings }}
      
      {{~#each this.sections as |section|}}

        {{> (lookup . 'template') }}

      {{~/each}}

      {{> footer}}
      
    </div>
  </div>

<script src="sugarcoat/js/sugar-nav.js"></script>

</body>
</html>