<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <!-- Begin Styles -->
  <style type="text/css" media="screen">
    .desc dt {
      font-weight: bold;
    }
    .desc dd {
      margin-bottom: 15px;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="../../documentation/pattern-library/styles/furtive.css">
  <link rel="stylesheet" type="text/css" href="../../documentation/pattern-library/styles/pattern-lib.css">
  <link rel="stylesheet" type="text/css" href="../../documentation/pattern-library/styles/prism.css">
  <!-- End Styles -->
</head>
<body>

{{> nav}}

{{#each this}}

{{#isequal type 'variables'}}

  {{~#if template}}
    {{~#isequal template 'color'}}
      {{~> color}}
    {{~/isequal}}
    {{~#isequal template 'typography'}}
      {{~> typography}}
    {{~/isequal}}
    {{~#isequal template 'variable'}}
      {{~> variable}}
    {{~/isequal}}
  {{~else}}
    {{~> variable}}
  {{~/if}}

{{/isequal}}

{{#notequal type 'variables'}}
  {{~> default}}
{{/notequal}}

{{/each}}

<!-- Begin Scripts -->
<!-- <script src="../../library/js/config/require-config.js"></script> -->
<script src="../../documentation/pattern-library/js/prism.js"></script>
<!-- End Scripts -->

</body>
</html>