<!DOCTYPE html>
<!--[if IE 9]><html lang="en" class="no-js ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"><!--<![endif]-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  {{> head}}
</head>
<body class="sugar-body">

{{> nav}}

{{#each this as |section|}}

  {{#isEqual section.type 'variables'}}

    {{~#if section.template}}
      {{~#isEqual section.template 'color'}}
        {{~> section/color}}
      {{~/isEqual}}
      {{~#isEqual section.template 'typography'}}
        {{~> section/typography}}
      {{~/isEqual}}
      {{~#isEqual section.template 'variable'}}
        {{~> section/variable}}
      {{~/isEqual}}
    {{~else}}
      {{~> section/variable}}
    {{~/if}}

  {{/isEqual}}

  {{#notEqual section.type 'variables'}}
    {{~> section/default}}
  {{/notEqual}}

{{/each}}

{{> footer}}

</body>
</html>