.sugar-section-variable {
    width: 100%;

    .sugar-table-container {
        overflow-x: scroll;
    }
}
.sugar-var-table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background: #f1f1f1;
    border-left: $border;
    border-right: $border;
    margin-bottom: 1rem;

    thead {
        border: $border;
    }

    th {
        @include font-cap();
        font-size: 11px;
        color: #999;
        padding: .5rem 1rem;
        background-color: white;
        text-align: left;
    }
    tr {
        border-bottom: $border;
        background-color: #f1f1f1;
    }
    td {
        padding: 1rem;
    }
    pre {
        padding: 0;
        overflow-x: auto;
    }
    p {
        font-family: 'Helvetica';
        margin: 0;
        color: #999999;
    }
}