/**
 *
 * @title Feature
 * @description Used for listing chronological content. Numbers hide in small viewport
 * @example
 * <div class="feature">
 *  <div class="feature-item">
 *   <h3>Title</h3>
 *   <p>Lorem Ipsum</p>
 *  </div>
 *  <div class="feature-item">
 *   <h3>Title</h3>
 *   <p>Lorem Ipsum</p>
 *  </div>
 * </div>
 *
 */
.feature-item {
    padding: 15px;
    text-align: center;
    vertical-align: top;
}