<!--
/**
 *
 * @title Partial for Masthead with optional Title and Logo
 *
 */
-->
<div class="sugar-masthead">
  {{#if display.graphic }}
  	<img src="{{ display.graphic }}" />
  {{/if}}

  {{~#if display.headingText }}
  	<h1>{{ display.headingText }}</h1>
  {{~/if}}

</div>