<!--
/**
 *
 * @title Partial for Masthead with optional Title and Logo 
 *
 */
-->
<div class="sugar-masthead">
  {{#if this.graphic }}
  	<img src="{{ this.graphic }}" />
  {{/if}}
  
  {{~#if this.title }}
  	<h1>{{ this.title }}</h1>
  {{~/if}}
  
</div>