<nav class="furtive">

  <ul>

    {{#each this as |section| }}

      <li><a href="#{{toID section.title}}">{{ section.title }}</a>

        <ul>

          {{#each section.files as |file| }}

            {{#each file.data as |data| }}

              <li>

                <a href="#{{toID file.path @index }}">

                {{#each data.tags as |theTag| }}

                  {{#isEqual theTag.tag 'title' }}

                    {{ theTag.description }}

                  {{/isEqual}}

                {{/each}}

                </a>

              </li>

            {{/each}}

          {{/each}}

        </ul>

      </li>

    {{/each}}

  </ul>
</nav>