<!-- <nav> -->

  <ul id="sugar-nav">
  <!-- <ul class="col-xs-10 col-md-offset-1"> -->

    {{#each this as |section| }}

      <li><a href="#{{toID section.title}}">{{ section.title }}</a>

        <ul class="">

          {{#each section.files as |file| }}

            {{#each file.data as |data| }}

              <li class="">
              <!-- <li class="col-xs-9 col-xs-offset-1"> -->

                <a href="#{{toID file.path @index }}">

                {{#each data.tags as |theTag| }}

                  {{#isEqual theTag.tag 'title' }}

                    {{ theTag.description }}

                  {{/isEqual}}

                {{/each}}

                </a>

              </li>

            {{/each}}

          {{/each}}

        </ul>

      </li>

    {{/each}}

  </ul>
<!-- </nav> -->