<!--
/**
 *
 * @title Partial for Preview of component
 *
 */
-->
<div class="sugar-preview-block">
  
  {{#isEqual file.ext 'html'}}

    <p class="sugar-example-text">Example:</p>

    <div class="sugar-preview">

      <div class="sugar-example">
        
        {{{ this.context }}}
        
      </div>
      
      <pre>{{ this.context }}</pre>

    </div>

  {{/isEqual}}

  {{#each this.tags as |theTag| }}

    {{#isEqual theTag.tag 'example'}}

      <p class="sugar-example-text">Example:</p>

      <div class="sugar-preview">

        <div class="sugar-example">
          
          {{{ theTag.description }}}
          
        </div>
      
        <pre>{{ theTag.description }}</pre>

      </div>

    {{/isEqual}}
  
  {{/each}}

</div>