<div class="sugar-preview-block">
  
  {{#isEqual file.ext 'html'}}

    <p class="sugar-example-text">Example:</p>

    <div class="sugar-preview">

      <div class="sugar-example">
        {{{ this.context }}}
      </div>

      <div class="sugar-example-code">
      
        <pre><code>{{ this.context }}</code></pre>

      </div>

    </div>

  {{/isEqual}}

  {{#each this.tags as |theTag| }}

    {{#isEqual theTag.tag 'example'}}

      <p class="sugar-example-text">Example:</p>

      <div class="sugar-preview">

        <div class="sugar-example">
          {{{ theTag.description }}}
        </div>

        <div class="sugar-example-code">
      
          <pre><code>{{ theTag.description }}</code></pre>

        </div>

      </div>

    {{/isEqual}}
  
  {{/each}}

</div>