<div class="sugar-preview-block">
  
  {{#isEqual file.ext 'html'}}

    <div class="sugar-preview">

      <div class="sugar-example">
        {{{ this.context }}}
      </div>

      <div class="sugar-example-code">
      
        <pre><code>{{ this.context }}</code></pre>

      </div>

    </div>

  {{/isEqual}}

  {{#each this.tags as |theTag| }}

    {{#isEqual theTag.tag 'example'}}

      <div class="sugar-example-and-preview">
        {{{ theTag.description }}}
      </div>

      <div class="sugar-preview">
      
        <pre><code>{{ theTag.description }}</code></pre>

      </div>

    {{/isEqual}}
  
  {{/each}}

</div>