<div>
  
  {{#isEqual file.ext 'html'}}

    <div>
      {{{ this.context }}}
    </div>

    <pre><code>{{ this.context }}</code></pre>

  {{/isEqual}}

  {{#each this.tags as |theTag| }}

    {{#isEqual theTag.tag 'example'}}

      <div>
        {{{ theTag.description }}}
      </div>

      <pre><code>{{ theTag.description }}</code></pre>

    {{/isEqual}}
  
  {{/each}}

</div>