<!--
/**
 *
 * @title Default comment block template
 *
 */
-->

<div id="{{toID title}}">

  <h2>{{ title }}</h2>

  {{#each files as |file| }}

    {{#each file.data as |data| }}

      {{> block-title data=data}}

      {{> tag-details file=file}}
    
      {{> preview file=file}}
    
    {{/each}}

    <p>File: {{ file.path }}</p>

  {{/each}}

</div>