<!--
/**
 *
 * @title Default comment block partial
 *
 */
-->

<section id="{{toID title}}" class="sugar-section-default">
  
  <div class="sugar-section-wrapper">
    
    <h2>{{ title }}</h2>

    {{#each files as |file| }}

      {{#each file.data as |data| }}
      
        <div id="{{toID file.path @index}}" class="sugar-component">
                      
          {{> block-title data=data}}
        
          {{> preview file=file}}
        
          {{> tag-details file=file}}
        
          {{> file-path file=file}}
      
        </div>
      
      {{/each}}

    {{/each}}
    
  </div>

</section>