<!--
/**
 *
 * @title Definition List partial for tags other than the example tag for default comment block 
 *
 */
-->

<div id="{{toID file.path @index}}">

  <dl>

    {{#each this.tags as |theTag| }}

      {{#notEqual theTag.tag 'example'}}

        {{#notEqual theTag.tag 'title'}}

          <dt>
            {{ theTag.tag }} 

            {{#if theTag.name}}
              <code>{{ theTag.name }}</code>
            {{/if}}
          </dt>

          <dd>
            {{#if theTag.optional}}
              <i>(Optional)</i>
            {{/if}}

            {{ theTag.description }}
          </dd>

        {{/notEqual}}

      {{/notEqual}}

    {{/each}}

  </dl>

</div>