<!--
/**
 *
 * @title Definition List partial for tags other than the example tag for default comment block 
 *
 */
-->

<div id="{{toID file.path @index}}" class="sugar-tag-details">

  <dl>

    {{#each this.tags as |theTag| }}

      {{#notEqual theTag.tag 'example'}}

        {{#notEqual theTag.tag 'title'}}

          {{#notEqual theTag.tag 'description'}}

            <dt>
              {{ theTag.tag }}: 

              {{#if theTag.name}}
                <span class="sugar-modifier-code">{{ theTag.name }}</span>
              {{/if}}
            </dt>

            <dd>
              {{#if theTag.optional}}
                <i>(Optional)</i>
              {{/if}}

              <span class="sugar-tag-description">{{ theTag.description }}</span>
            </dd>

          {{/notEqual}}

        {{/notEqual}}

      {{/notEqual}}

    {{/each}}

  </dl>

</div>