<div class="variables">
  {{#each files}}
    {{~#each data}}
      {{~#each serializedCode}}
    <div class="variable">
      <span>{{ variable }}: {{ value }}</span>
      {{#if comment }}
      	<p>{{ comment }}</p>
      {{/if }}
    </div>
      {{~/each}}
    {{~/each}}
  {{/each}}
</div>