<table class="variables furtive">
  <thead>
    <tr>
      <th>Variable</th>
      <th>Value</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {{#each files}}
      {{~#each data}}
        {{~#each serializedCode}}
    <tr>
      <td>{{ variable }}</td>
      <td>{{ value }}</td>
      <td>{{ comment }}</td>
    </tr>
        {{~/each}}
      {{~/each}}
    {{/each}}
  </tbody>
</table>