nav {
    background-color: var(--bg-yellow);
    padding: 15px;
    overflow: hidden;
}
nav h1 {
    color: var(--brand-grey);
    display: inline-block;
    margin: 4px;
}
nav a {
    display: block;
}
nav ul {
    float: right;
}
nav ul li {
    display: inline-block;
}
nav a img {
    width: 10px;
}