/**
 * 
 * @title Colors
 *
 */
/**
 * 
 * @title Variables
 *
 */
/**
 * 
 * @title Bordered element
 * @description Grey backdrop for an element with borders
 *
 */
/**
 * @title Retina Image
 * @description Insert to render retina background image on element
 * @usage .image-2x( $image, $width, $height );
 * @default-height 50px
 * @defaultWidth 100px
 * 
 */
/**
 * @title Font Families
 */
/**
 * 
 * @title Font Style, Header
 * @description Header links
 *
 */
/**
 * 
 * @title Font Style, Sub header
 * @description Sub-section titles
 *
 */
/**
 * 
 * @title Font Style, Label
 * @description Use for small label styles
 *
 */
/**
 * 
 * @title Font Style, Monospace
 * @description Use for any code style declarations
 *
 */
/* line 64, ../styles/base/typography.scss */
h1, h3 {
  font-family: "Arvo", Georgia;
  color: #703030;
  font-weight: 700;
}

/* line 67, ../styles/base/typography.scss */
h2, h4 {
  font-family: "Arvo", Georgia;
  color: #c77966;
  font-weight: 400;
}

/* line 70, ../styles/base/typography.scss */
h5 {
  font-family: "Roboto Mono", "Monospace";
  text-transform: uppercase;
  color: #7E827A;
  letter-spacing: .1rem;
}

/* line 73, ../styles/base/typography.scss */
p {
  line-height: 1.7rem;
}

/* line 76, ../styles/base/typography.scss */
code {
  font-family: "Roboto Mono", "Monospace";
  font-weight: normal;
  background: #e3cda4;
  border-radius: 3px;
  padding: 3px 5px;
  display: inline-block;
  font-size: 12px;
  line-height: 1rem;
  vertical-align: top;
}

/* line 79, ../styles/base/typography.scss */
b {
  font-family: "Arvo", Georgia;
  font-weight: 700;
}

/* line 83, ../styles/base/typography.scss */
a,
a:visited {
  color: #7E827A;
}
/* line 87, ../styles/base/typography.scss */
a:hover, a:focus, a:active,
a:visited:hover,
a:visited:focus,
a:visited:active {
  color: #703030;
}

/* line 1, ../styles/global/defaults.scss */
body {
  font-family: "Helvetica", Arial;
  color: #333;
  margin: 0;
}

/* line 6, ../styles/global/defaults.scss */
ul, ol {
  margin: 0;
}

/* line 9, ../styles/global/defaults.scss */
section {
  padding: 0 15px;
}

@media (min-width: 745px) {
  /* line 1, ../styles/global/745.scss */
  main {
    text-align: center;
  }

  /* line 4, ../styles/global/745.scss */
  section {
    text-align: left;
    margin: 0 auto;
    width: 100%;
    max-width: 715px;
  }
}
/* line 1, ../styles/nav/defaults.scss */
nav {
  background-color: #efe2cb;
  padding: 15px;
}
/* line 5, ../styles/nav/defaults.scss */
nav h1 {
  margin: 0;
  color: #7E827A;
  display: inline-block;
}
/* line 10, ../styles/nav/defaults.scss */
nav a {
  padding: 10px;
}
/* line 13, ../styles/nav/defaults.scss */
nav ul {
  display: inline-block;
  float: right;
}
/* line 17, ../styles/nav/defaults.scss */
nav ul li {
  display: inline-block;
}

/**
 * 
 * @title Feature
 * @description Used for listing and displaying grid-like related content
 * @example
 * <div class="feature-item">
 *  <img src="http://placehold.it/150x150/703030/ffffff">
 *  <h3>Title/h3>
 *  <p>Lorem Ipsum</p>
 * </div>
 *
 */
/* line 13, ../styles/feature/defaults.scss */
.feature-item {
  padding: 15px;
}

@media (min-width: 745px) {
  /* line 1, ../styles/feature/745.scss */
  .feature {
    width: 100%;
    overflow: hidden;
  }

  /* line 5, ../styles/feature/745.scss */
  .feature-item {
    float: left;
    display: inline-block;
    width: calc(50% - 30px);
    text-align: center;
  }
  /* line 11, ../styles/feature/745.scss */
  .feature-item:nth-child(odd) {
    padding-left: 0;
  }
  /* line 14, ../styles/feature/745.scss */
  .feature-item:nth-child(even) {
    padding-right: 0;
  }
  /* line 17, ../styles/feature/745.scss */
  .feature-item img {
    margin: 0 auto;
  }
  /* line 20, ../styles/feature/745.scss */
  .feature-item p {
    text-align: left;
  }
}
/**
 * 
 * @title Note
 * @description Used for any aside-type information, or alert boxes
 * @example
 * <p class="note">
 *  Lorem Ipsum
 * </p>
 * @modifier .alert Signifies an important note
 *
 */
/* line 12, ../styles/note/defaults.scss */
.note {
  padding: 15px;
  margin: 15px;
  background-color: #efe2cb;
  border: 1px solid #e3cda4;
  border-radius: 5px;
}

/*# sourceMappingURL=index.css.map */
