.sugar-colors {
    border-bottom: 1px solid #eee;
    font-family: 'Helvetica';
}
.sugar-color {
    overflow: hidden; //  margin-bottom:-20px;
    border-top: 1px solid #eee;
    position: relative;
}
.sugar-color-commented {
    margin-bottom: -38px;
    padding-bottom: 10px;
    transition: 0.35s linear margin;

    .sugar-btn-accordion {
        top: -5px;
        right: 0px;
        position: absolute;
    }
}
.sugar-color-open.sugar-color-commented {
    margin-bottom: 0px;
}
.sugar-color-swatch {
    width: 70px;
    height: 38px;
    float: left;
}
.sugar-color-var {
    font-family: 'Helvetica';
    font-weight: lighter;
    width: calc(50% - 55px);
    float: left;
    padding: 10px;
    background: white;
}
.sugar-color-val {
    width: calc(50% - 55px);
    float: left;
    padding: 8px;
    font-family: 'Courier';
    font-size: 14px;
    background: white;
}
.sugar-color-val:before {
    content: 'VALUE';
    @include font-cap;
    background: #eee;
    padding: 5px;
    font-size: 10px;
    display: inline-block;
}
.sugar-color-comment {
    width: 100%;
    float: left;
    padding-left: 80px;
    padding-top: 10px;
}