.sugar-variable-section {
	width: 100%;

	.sugar-var-block {
		margin-bottom: 2rem;

		code {
			font-family: 'Courier';
			display: inline;
			text-transform: none;
			font-size: 1rem;
			background-color: #fff;
			padding: 0;
			word-break: break-all;
		}
		.sugar-variable {
			font-weight: bold;
		}
		.sugar-var-value {
			font-weight: normal;
		}
		.sugar-var-comment {
			font-family: 'Helvetica';
			font-size: 1rem;
			color: #c4c4c4;
		}
	}
}