/**
 *
 * @title Primary Colors
 *
 */
:root {
    --brand-red: #703030; /* Headlines */
    --brand-grey: #2F343B; /* Links */
    --accent-red: #C77966;
    --accent-grey: #7E827A;
}
/**
 *
 * @title Secondary Colors
 *
 */
:root {
    --bg-yellow: #E3CDA4;
    --bg-yellow-lt: hsla(39,53%,80%,1);
    --body-black: #333;
}